<header id="header">
    <div class="container">
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#hero">Home</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Talk to me</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="hero">
    <div class="hero-container">
        <h1>Krackzy92 - Twitch gaming live streamer</h1>
        <h2>World of Warcaft, Counter-Strike, Overwatch, And other fun game's</h2>
        <a href="https://www.twitch.tv/krackzy92" target="__blank" class="btn-get-started">To Twitch! <i class="fa fa-twitch"></i></a>
    </div>
</section>
<main id="main">
    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">About me</h2>
                    <p>
                        Im Krackzy I am originaly from harrow born in london (UK England) currently living in Norway.<br>
                        <br>
                        My gaming "career" started out as a kid playing WoW few months before TBC was released then after stumbling into a local LAN center in my home town where I found Counter-Strike source I stopped playing WoW. <br><br>
                        Few years later many leagues and LANs played and won i found myself in DUBAI shout-casting csgo events for www.cybersportsleague.me <br><br>
                        Shortly after my time there i found the love of my life and moved to Norway and that takes me here, just a brown fat nerd looking to play some video games and make some friends while doing it ^^ <br>
                    </p>
                </div>

                <div class="col-lg-6 content order-lg-2 order-2">
                    <h2 class="title">Events</h2>
                    <p>
                        I like to interact with my viewers and we like to hold runs and events to get direct interaction with the community
                    </p>
                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                        <h4 class="title"><a href="">World of Warcraft - Farm raid</a></h4>
                        <p class="description">Every Wednesday 2 pm farm run going EN, TOV, NH, TOS Norm/Hc, <br> And at 8 pm Antorus Normal boosted by my guilds core raiders giving away all loot</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-gamepad"></i></div>
                        <h4 class="title"><a href="">World of Warcraft - Mythic+</a></h4>
                        <p class="description">Mythic plus Sunday - boosting viewers keys Subs always get priority and pushed to the top of que up too 15 keys</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-clock-o"></i></div>
                        <h4 class="title"><a href="">Stream</a></h4>
                        <p class="description">
                            Monday till Thursday: 2pm-5pm & 8pm-12am<br>
                            Friday: optional stream<br>
                            Sunday: 8pm till 12am<br>
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section id="facts">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Facts</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">232</span>
                    <p>Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">521</span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1,463</span>
                    <p>Hours Of Support</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">15</span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section>
    <section id="call-to-action">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Come hang out!</h3>
                    <p class="cta-text"> If you would like to hangout with me come join me on Twitch! We do viewer runs/giveaways and generally have a good time with each other. You can also join our discord server if you would like to hang out</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="https://www.twitch.tv/krackzy92" target="__blank">To Twitch! <i class="fa fa-twitch"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">The People</h3>
                <p class="section-description">Krackzy and the other people who keep stuff actually going.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{{ url_for('static', filename='images/krackzy_profile.jpg') }}"></div>
                        <h4>Rais Mohamed</h4>
                        <span>Streamer</span>
                        <div class="social">
                            <a href="https://www.twitch.tv/krackzy92"><i class="fa fa-twitch"></i></a>
                            <a href="https://www.facebook.com/Krackzy92/"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/krackzy92"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.youtube.com/channel/UCmDU1TlZgDaWkC2BW_JH7PA"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{{ url_for('static', filename='images/taric_profile.gif') }}"></div>
                        <h4>Justin Persson</h4>
                        <span>Video-Editor</span>
                        <div class="social">
                            <a href="https://www.youtube.com/channel/UCG51F79BoJpTBGlVjLKO9Bg"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{{ url_for('static', filename='images/scarlett_profile.png') }}"></div>
                        <h4>Scarlett Samanatha Verheul</h4>
                        <span>Software Engineer</span>
                        <div class="social">
                            <a href="https://www.twitch.tv/krackzy92"><i class="fa fa-twitch"></i></a>
                            <a href="https://github.com/scarlettsamantha"><i class="fa fa-github"></i></a>
                            <a href="https://twitter.com/CtrlAltScarlett"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/scarlettverheul/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{{ url_for('static', filename='images/emma_profile.jpg') }}"></div>
                        <h4>Emma "Thenardier" Nygaard</h4>
                        <span>Manager</span>
                        <div class="social">
                            <a href="https://www.instagram.com/emmanygaard/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/emma.nygaard.7923"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Contact</h3>
                <p class="section-description">If you have questions or suggestions, contect me via twitch or email.</p>
            </div>
        </div>
        <div class="container wow fadeInUp">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4">
                    <div class="info">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>Norway, Worldwide</p>
                        </div>
                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>krackzy92[at]gmail[dot]com</p>
                        </div>
                    </div>
                    <div class="social-links">
                        <a href="https://www.twitch.tv/krackzy92"><i class="fa fa-twitch"></i></a>
                        <a href="https://www.facebook.com/Krackzy92/"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/krackzy92"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.youtube.com/channel/UCmDU1TlZgDaWkC2BW_JH7PA"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #contact -->

</main>

